<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YJPictureProcess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50FA2FE61C9FC9D20064A537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FA2FFA1C9FC9D20064A537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FA30051C9FC9D20064A537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
